.card-post .title {
    display: flex;
    align-items: center;
    background-color: #fff;
    
}

.card-post .title span {
    margin-left: 10px;
    font-weight: bold;
}

.list-action-icon svg {
    margin-left: 5px;
}
