.header {
    position: fixed;
    border-bottom: 1px solid #99999970;
    width: 100%;
    margin-bottom: 30px;
    background-color: #fff;
    z-index: 1024;
}

.header-logo {
    width: 20px;
    height: 50px;
}