.popup-filter-users {
    position: absolute;
    top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    overflow-y: auto;
    max-height: 600px;
    width: 200px;
    background-color: #fff;
}