.info-short-user {
    display: flex;
    align-items: center;
}

.info-short-user p{
    margin: 0;
}

.info-short-user p:nth-child(1){
    font-weight: bold;
}

.info-short-user p:nth-child(2){
    color: #999;
}

.info-short-user img {
    border-radius: 50%;
    margin-right: 15px;
}